
h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 30%;
}

.container {
  display: flex;
  justify-content: space-around;
}

.box-1 {
  width: 200px;
  height: 150px;
  background-color: lightblue;
  border-radius: 10px;
}

.box-2 {
  width: 200px;
  height: 150px;
  background-color: lightsalmon;
  border-radius: 10px;
}

.box-3 {
  width: 200px;
  height: 150px;
  background-color: lightpink;
  border-radius: 10px;
}

@media (max-width: 600px) {
   .container {
     flex-direction: column;
     gap: 10px;
     align-items: center;
   }
}